<div class="container col-xxl-8 px-4 py-5">
  <% locals.books.forEach((book) => { %>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-8 col-sm-6 col-lg-4 d-flex justify-content-center">
        <a href="/note-detail?id=<%= book.id %>"><img src="<%= book.image_url %>" class="" alt="Bootstrap Themes" height="300" loading="lazy"></a>
      </div>
      <div class="col-lg-8">
        <a href="/note-detail?id=<%= book.id %>" style="text-decoration:none"><h1 class="display-10 fw-bold d-flex justify-content-lg-start"><%= book.name %></h1></a>
        <div class="d-flex justify-content-between mb-3 ">
          <small class="text-muted fw-bold ">ISBN Number : <%= book.isbn %></small>
          <small class="text-muted fw-bold ">Rating <%= book.rating %>/10</small>
        </div>
        <p class="lead"><%= book.notes.substring(0,500) %></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/note-detail?id=<%= book.id %>"><button type="button" class="glow-on-hover custom-btn">View Detail</button></a>
        </div>
      </div>
  </div>
  <hr class="hr-style">
  <% }) %> 
</div>



